# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


.vscode/
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/Projeto2_banco.exe
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-aa0bcd43ba20d759a143.json
build/.cmake/api/v1/reply/cmakeFiles-v1-8283d09c7bed1aa349df.json
build/.cmake/api/v1/reply/codemodel-v2-25dda8fdfca9a4451681.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2023-10-27T19-17-25-0158.json
build/.cmake/api/v1/reply/target-Projeto2_banco-Debug-4aa90416cb7750fd5b23.json
build/.cmake/api/v1/reply/toolchains-v1-df20a45ee2ad5cbd36a4.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.28.0-rc3/CMakeCCompiler.cmake
build/CMakeFiles/3.28.0-rc3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.28.0-rc3/CMakeRCCompiler.cmake
build/CMakeFiles/3.28.0-rc3/CMakeSystem.cmake
build/CMakeFiles/3.28.0-rc3/CompilerIdC/a.exe
build/CMakeFiles/3.28.0-rc3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/Projeto2_banco.dir/biblioteca.c.obj
build/CMakeFiles/Projeto2_banco.dir/biblioteca.c.obj.d
build/CMakeFiles/Projeto2_banco.dir/build.make
build/CMakeFiles/Projeto2_banco.dir/cmake_clean.cmake
build/CMakeFiles/Projeto2_banco.dir/compiler_depend.internal
build/CMakeFiles/Projeto2_banco.dir/compiler_depend.make
build/CMakeFiles/Projeto2_banco.dir/compiler_depend.ts
build/CMakeFiles/Projeto2_banco.dir/depend.make
build/CMakeFiles/Projeto2_banco.dir/DependInfo.cmake
build/CMakeFiles/Projeto2_banco.dir/flags.make
build/CMakeFiles/Projeto2_banco.dir/link.txt
build/CMakeFiles/Projeto2_banco.dir/linkLibs.rsp
build/CMakeFiles/Projeto2_banco.dir/main.c.obj
build/CMakeFiles/Projeto2_banco.dir/main.c.obj.d
build/CMakeFiles/Projeto2_banco.dir/objects.a
build/CMakeFiles/Projeto2_banco.dir/objects1.rsp
build/CMakeFiles/Projeto2_banco.dir/progress.make
/CLIENTES/

*.exe